#t5sidebar1 {
	width: 150px;
	height: 405px;
	background-color: #66FFCC;
	margin: 5px;
	margin-top: 0px;
	float: left;
}

#t5sidebar2 {
	width: 150px;
	height: 405px;
	background-color: #66FFCC;
	margin: 5px;
	margin-top: 0px;
	float: right;
}


#t5header {
	width: 640px;
	height: 100px;
	background-color: #FFFF99;
	margin: 5px;
	margin-left: 160px;
}

#t5main {
	width: 640px;
	height: 300px;
	background-color: #F0F0F0;
	margin: 5px;
	margin-left: 160px;
}

