#t3sidebar {
	width: 150px;
	height: 405px;
	background-color: #66FFCC;
	margin: 5px;
	margin-top: 0px;
	float: right;
}

#t3header {
	width: 795px;
	height: 100px;
	background-color: #FFFF99;
	margin: 5px;
}

#t3main {
	width: 795px;
	height: 300px;
	background-color: #F0F0F0;
	margin: 5px;
}

